@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3442ef;
}

main {
    background-color: #1D3442;
    display: flex;
    flex-flow: column;
    padding: 40px;
    border: 1px 1px solid #006aac;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.274);
    gap: 15px;
    min-width: 500px;

    img {
        width: 200px;
        margin: auto;
        margin-bottom: 25px;
    }

    p {
        color: white;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    a {
        text-decoration: none;
        color: #3DDAC7;
    }

    a:hover {
        text-decoration: underline;
    }

    button {
        background-color: #006aac;
        color: white;
        padding: 12px;
        border: none;
        outline: none;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
    }

    button:hover {
        background-color: #3ED9C7;
    }

    label {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
    }
}

#criar-conta {
    font-size: 0.9rem;
}

.container-cadastro {
    display: flex;
    flex-flow: column;
    gap: 15px;
    margin-bottom: 10px;

    input {
        padding: 8px;
        border: none;
        border-radius: 8px;
    }
}