@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #1D3442;
    font-family: "Poppins";
}

#logo {
    display: block;
    margin: 50px auto;
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: auto;
    max-width: 900px;
}

.container {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}

#water {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 25px 0px;
    gap: 10px;
}

#water h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

#water button {
    background-color: #006aac;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    margin: 7px;
    cursor: pointer;
}

#water h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0px;
}

#water ul li {
    font-size: 0.9rem;
    list-style-type: none;
}

#water-progress {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 0;
    margin-bottom: 20px;
}

#visual-progress img {
    height: 280px; 
    margin: 0;
}

#textual-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    gap: 15px;
    width: 40%;
}

#textual-progress p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}

#textual-progress span {
    font-weight: 700;
    color: #006aac;
    font-size: 1.6rem;
}

#history-container {
    align-self: flex-start;
    padding-left: 45px;
}

#ml-div {
    display: flex;
    flex-flow: column;
    width: 80%;

    label {
        font-size: 0.8rem;
    }

    input {
        padding: 5px;
        outline: none;
    }

    input:focus {
        outline: 0;
    }
}