@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #1D3442;
    font-family: "Poppins";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;

    button {
        background-color: #006aac;
        color: white;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        height: fit-content;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        cursor: pointer;
    }

    button:hover {
        background-color: #41DACA;
    }
}

.header-placeholder {
    visibility: hidden;
}

.header-placeholder, #logout-btn {
    width: 80px; 
}

#logo {
    display: block;
    margin: 25px 0;
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: auto;
    max-width: 900px;
}

.container {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}

#water {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 25px 0px;
    gap: 10px;
}

.title-h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

#water button {
    background-color: #006aac;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    margin: 7px;
    cursor: pointer;
}

#water h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0px;
}

#water ul li {
    font-size: 0.9rem;
    list-style-type: none;
}

#water-progress {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 0;
}

#visual-progress {
    position: relative;
    width: 250px;
    height: 250px; 
    margin: 0 auto; 
    overflow: hidden; 
}

#body-container-clip {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    
    -webkit-mask-image: url('img/corpo-humano.png');
    mask-image: url('img/corpo-humano.png');
    
    mask-size: 100% 100%;
    mask-position: bottom;
    mask-repeat: no-repeat;
}

#body-water-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #006aac;
    
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
}

#textual-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    gap: 15px;
    width: 40%;
}

#textual-progress p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}

#textual-progress span {
    font-weight: 700;
    color: #006aac;
    font-size: 1.6rem;
}

#history-container {
    align-self: flex-start;
    padding-left: 45px;
    width: 100%;

}

#waterHistoryList {
    border: 1px solid rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    max-height: 65px;
    margin-right: 44px;
}

#ml-div {
    display: flex;
    flex-flow: column;
    width: 80%;

    label {
        font-size: 0.8rem;
    }

    input {
        padding: 5px;
        outline: none;
    }

    input:focus {
        outline: 0;
    }
}

#food {
    background-color: #212226;
    padding: 25px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
        color: white;
        font-weight: 500;
    }
}

#daily-containers {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.food-container {
    margin-top: 30px;
    background-color: #28292D;
    height: 100px;
    width: 150px;
    border-radius: 8px;
}

.food-inputs {
    background: none;
    outline: none;
    border: 0.5px solid #3f3f3f;
    border-radius: 8px;
    padding: 8px 10px;
    margin-bottom: 20px;
}

#food-search-input {
    width: 320px;
}

#food-number-input {
    width: 280px;
}

#food-number-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#food-number-container button {
    border-radius: 8px;
    outline: none;
    border: 0.5px solid #3f3f3f;
    font-size: 1.1rem;
    padding: 5px 10px;
    background: none;
    color: white;
    cursor: pointer;
}

#food-register {
    background-color: #6AD88F;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 320px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}